<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <!-- Robot config -->
    <meta name="description" content="Alisson Rubim - Fullstack developer and designer for hobby">
    <meta name="revisit-after" content="30 days">
    <meta name="distribution" content="web">
    <meta http-equiv="refresh" content="30">
    <meta name="keywords" content="Alisson Rubim, alisson, alison rubim, alisson rubin, bruna vieira, bruna rubim, bruna e alisson, bruna e alissom, alissom rubin, programador, desenvolvedor, developer, alisson github, alisson site, alisson rubim, rubim site, rubim development, bruna vieira e alisson">
    <meta name="robots" content="index, follow">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="publisher_handle">
    <meta name="twitter:title" content="Alisson Rubim - Fullstack developer and designer for hobby">
    <meta name="twitter:description" content="How nice is have a website or a system working great? This is what I do: I create and idealize systems and website for the best usefull with your clients.">
    <meta name="twitter:creator" content="author_handle">
    <meta name="twitter:image" content="https://www.alissonrubim.com/Content/img/picture.png">

   <!-- Open Graph data -->
    <meta property="og:title" content="Alisson Rubim - Fullstack developer and designer for hobby" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.alissonrubim.com/" />
    <meta property="og:image" content="https://www.alissonrubim.com/Content/img/picture.png" />
    <meta property="og:description" content="How nice is have a website or a system working great? This is what I do: I create and idealize systems and website for the best usefull with your clients." /> 
    <meta property="og:site_name" content="Alisson Rubim" />


    <link rel="icon" type="image/png" href="~/Content/img/favicon.png">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fa-solid.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fa-brands.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fa-regular.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/site.js"></script>
</body>
</html>